.box_data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    color: orange;
    margin-top: -10px;
}

.current_time {
    color: white;
}